.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.title {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #ffffff;
}

.img {
    width: 680px;
    margin-right: 100px;
    height: 410px;
}

.all_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textContent {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.gray {
    color: #828282;
    display: flex;
    font-size: 17px;
    gap: 10px;
}

.white {
    color: #fff;
    font-size: 17px;
}

.green {
    font-size: 17px;
    color: #66C10A;
}

.descriptionContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.description {
    line-height: 150%;
    font-size: 16px;
    color: #828282;
}

.purple {
    color: #9747FF;
    font-size: 14px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btnBuy {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    padding: 12px 0px;
    color: #fff;
    background-color: #D60B52;
    border: 1px solid #D60B52;
    text-align: center;
}

.btnCart {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    padding: 12px 0px;
    color: #D60B52;
    background-color: #1c1c1c;
    border: 1px solid #D60B52;
    text-align: center;
}
